@@include("components/business/doctors-list/_index.html", {
	class:"@@class",
	items: [
		{src:"@images/img1.jpg", name:"Казакбаев Амир Гайсеевич", description:"Генеральный директор, врач высшей категории, кандидат медицинских наук. Офтальмохирург"},
		{src:"@images/img2.jpg", name:"Казакбаев Артур Амирович", description:"Генеральный директор, врач высшей категории, кандидат медицинских наук. Офтальмохирург"},
		{src:"@images/img3.jpg", name:"Казакбаев Ренат Амирович", description:"Генеральный директор, врач высшей категории, кандидат медицинских наук. Офтальмохирург"},
		{src:"@images/img4.jpg", name:"Шлюхова Ирина Эдуардовна", description:"Генеральный директор, врач высшей категории, кандидат медицинских наук. Офтальмохирург"},
	]
})
