<div class="burger">
	<nav>
		<ul class="burger__list">
			<li><a href="#" class="burger__item">Врачи</a></li>
			<li><a href="#" class="burger__item">Цены</a></li>
			<li><a href="#" class="burger__item">Новости</a></li>
			<li><a href="#" class="burger__item">Пациентам</a></li>
			<li><a href="#" class="burger__item">О клинике</a></li>
			<li><a href="#" class="burger__item">Контакты</a></li>
			<li><a href="#" class="burger__item">Оптика</a></li>
		</ul>
	</nav>
		@@include("components/ui/burger/_burger-button.html")
</div>
