@use "../../mixins/breakpoints";
@use "../../mixins/fontsStyles";
@use "../../vars/colors";

.clinic-news{
	overflow: hidden;

	&__wrapper{
		display: flex;
		flex-direction: column;
		padding-top: 7.5em;
		padding-bottom: 7.5em;
		gap: 1.875em;
	}
	&__title{
		color: colors.$blue400;
	}

	&__slider{

		display: flex;
		justify-content: space-between;
		align-items: start;
	}

	& &__link{
		@include breakpoints.tablet{
			display: none;
		}
	}
}




