@use"../../mixins/fontsStyles";
@use"../../mixins/breakpoints";
@use"../../vars/colors";

.copyright{
	display: flex;
	padding-top: 1.875em;
	padding-bottom: 1.875em;
	background: colors.$blue500;
	color: colors.$white;
	@include fontsStyles.TextMD;

	&__wrapper{
		display: flex;
		justify-content: space-between;

		@include breakpoints.tablet{
			flex-direction: column;
			gap: 1.25em;
			align-items: center;
		}
	}

	&__links{
		display: flex;
		gap: 5.25em;

		@include breakpoints.tablet{
			flex-direction: column;
			gap: 1.25em;
			align-items: center;
		}
	}

	&__link{
		text-decoration: none;
		color: colors.$white;
	}
}



