@use "../../vars/colors";
@use "../../mixins/fontsStyles";

.navigation {
	display: flex;
	align-items: center;


	&__list {
		display: flex;
		align-items: center;
		gap: 3.125em;
	}

	&__item {
		@include fontsStyles.TextMD;
		color: colors.$white;

		&.navigation__item_nested {
			display: flex;
			align-items: center;
			gap: 0.375em;
			background: none;

			&::after {
				content: url("@icons/arrow-down.svg");
				width: 1.25em;
				height: 1.25em;
			}
		}
	}

	&__nested-wrapper {
		position: relative;

		&_active{
			.navigation__nested-list{
				display: flex;
			}
		}


	}
	&__nested-list{
		display: none;
		flex-direction: column;
		position: absolute;
		top: 30px;
		left: 0;
		width: 120px;
		z-index: 10;
	}

	&__nested-item{
		display: block;
		padding: 1.5em;
		background: colors.$blue200;
		color: colors.$white;
		width: 100%;
	}

}







