@@include("components/business/destinations/_index.html", {
	class:"@@class",
	items: [
		{href: "#", class:"destinations__destination-item_lazer", text: "Лазерная коррекция"},
		{href: "#", class:"destinations__destination-item_diagnostics", text: "Диагностика зрения"},
		{href: "#", class:"destinations__destination-item_surgery", text: "Хирургия катаракты"},
		{href: "#", class:"destinations__destination-item_optics", text: "Оптика"},
		{href: "#", class:"destinations__destination-item_pediatric-ophthalmology", text: "Детская офтальмология"},
	]
})
