<section class="about-us">
	<div class="about-us__wrapper container">

		<div class="about-us__wrapper-image">
			<img class="about-us__image" src="@images/us.jpg" alt="Доктора">
		</div>
		<div class="about-us__content" data-name="Rishat" data-age="21">
			<h2 class="about-us__small-title">О нас</h2>
			<span class="about-us__title">Клиника лазерной хирургии</span>
			<p class="about-us__text">С момента открытия до настоящего времени основной принцип нашей практики – предоставлять пациентам только самое лучшее и передовое, чем располагает на данный момент современная офтальмология.</p>
			@@include("components/ui/_link-button.html", {
				class:"button_rounder",
				href: "#",
				text: "Подробнее",
			})
		</div>
	</div>
</section>
