<section class="clinic-news ">
	<div class="clinic-news__wrapper container slider">
			<h2 class="clinic-news__title">Новости клиники</h2>
			<div class="clinic-news__slider">
				@@include("components/ui/_slider-arrows.html", {class:"clinic-news__slider-arrows"})
				@@include("components/ui/_link-button.html", {
					class:"button_rounder button_outlined button_arrow-right-icon clinic-news__link",
					href:"#",
					text:"Все новости"
				})
			</div>
		@@include("components/business/news-list/_news-list.html", {
			class:"clinic-news__news-list"
		})
	</div>
</section>
