<section class="first-screen">
	<div class="container">
		<div class="first-screen__wrapper">
			<h1 class="first-screen__title">Предоперационная диагностика зрения</h1>
			<p class="first-screen__text">В нашем центре используется только самое современное оборудование для диагностики и лечения нарушений зрения</p>
			@@include("components/ui/_link-button.html", {
				class:"button_rounder",
				href: "#",
				text: "Подробнее",
			})
			@@include("components/ui/_pagination.html", {class:"first-screen__pagination"})
			@@include("components/ui/_slider-arrows.html", {class:"first-screen__slider-arrows"})
			<img src="@images/first-screen-image1.jpg" alt="img" class="first-screen__img ">
		</div>
	</div>
</section>
