<section class="our-branches">
	<div class="our-branches__map"></div>
	<div class="container">
		<div class="our-branches__wrapper">
			<h2 class="our-branches__title" >Наши филиалы</h2>
			<ul class="our-branches__list" >
				<li>
					@@include("components/ui/_text-with-icon.html", {
						class:"text-with-icon_location our-branches__item__location",
						text:"Уфа, ул. Достоевского, 49"
					})
				</li>
				<li>
					@@include("components/ui/_text-with-icon.html", {
						class:"text-with-icon_location our-branches__item__location",
						text:"Магниторск, ул. Тевосяна, д. 21а"
					})
				</li>
			  <li>
					@@include("components/ui/_text-with-icon.html", {
						class:"text-with-icon_location our-branches__item__location",
						text:"Нефтекамск, ул. Дорожная, 15а"
					})
				</li>
				<li>
					@@include("components/ui/_text-with-icon.html", {
						class:"text-with-icon_location our-branches__item__location",
						text:"Набережные Челны, ул. Шамиля Усманова 29б, 40й комплекс 6в"
					})
				</li>
			</ul>
		</div>
	</div>
</section>
