<section class="our-equipment">
	<div class="our-equipment__wrapper container">
		<div class="our-equipment__content">
			<h2 class="our-equipment__title">Наше оборудование</h2>
			<div class="our-equipment__text">
				<p >Благодаря уникальной концпеции, FEMTO LDV в настоящее время является лидером на рынке фемтосекундных лазеров.</p>
				<p >Источники излучения с низкой частотой создают большие кавитационные пузыри, что приводит к разрушению и повреждению тканей. Такой подход ведет к повышенному уровню стресса для глаз. Системы FEMTO LDV основаны на принципиально другой технологии. Работа ведется на низком уровне энергии, с очень короткими импульсами и высокой частотой. Такого воздействия достаточно для того, чтобы разделить ткани, не оказывая излишнего повреждающего воздействия. </p>
				<p >Низкий уровень энергии - один из наиболее важных факторов для сохранения целостности ткани.</p>
			</div>
			@@include("components/ui/_link-button.html", {
				class:"button_rounder our-equipment__call-button",
				href:"#",
				text:"Все оборудование"
			})
		</div>
		<div class="our-equipment__wrapper-image">
			<img class="our-equipment__image" src="@images/our-equipment.jpg" alt="our-equipment">
		</div>
	</div>
</section>
