@mixin CommissionerMedium {
	font-family: Commissioner, sans-serif;
	font-weight: 500;
	line-height: 140%;
}

@mixin InterMedium {
	font-family: Inter, sans-serif;
	font-weight: 500;
	line-height: 140%;
}

@mixin InterRegular {
	font-family: Inter, sans-serif;
	font-weight: 400;
	line-height: 140%;
}

@mixin CommissionerRegular {
	font-family: Commissioner, sans-serif;
	font-weight: 400;
	line-height: 140%;
}

